dist-ssr
*.local
node_modules
dist

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# credentials
.env

# temp
sum.js
sum.test.js
