.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 2% 5%;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-brand {
  color: #f00;
  font-size: 2rem;
}

.nav-list {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: white;
  background-color: #f00;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
}

.banner-content > form {
  flex-direction: row;
  background-color: transparent;
}

.banner-content > form > button {
  flex: 1;
}

.banner-content > form > div {
  flex: 2;
}

@media screen and (width < 768px) {
  header {
    height: 85dvh;
  }
}
@media screen and (width < 480px) {
  .banner-content > form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}
